@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-3">Welcome To Supa's Trash Collector!</h1>
    <p class="lead">This is a simple trash collection website </p>
    <hr class="my-4">
    <p>You can pick which day you start your service end you service and which day you want to have your trash picked up.</p>
    <p class="lead">
        
    </p>
</div>



@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
